terraform-task2/modules/ec2/username.txt
terraform-task2/modules/ec2/password.txt
terraform-task2/modules/ec2/terrv1.pem
terraform-task2/project/.terraform
terraform-task2/project/.terraform.lock.hcl
terraform-task2/project/terraform.tfstate
terraform-task2/project/terraform.tfstate.backup
terraform-task2/.DS_Store

terraform-task1/modules/vpc/username.txt
terraform-task1/modules/vpc/password.txt
terraform-task1/modules/vpc/terrv1.pem
terraform-task1/project/.terraform
terraform-task1/project/terraform.tfstate.d
terraform-task1/project/.terraform.lock.hcl
terraform-task1/terraform.tfstate
terraform-task1/.DS_Store

.DS_Store